header{
    width: 100%;
    height: 100px;
    background-color: rgb(128, 239, 239);
}

footer{
    width: 100%;
    height: 100px;
    background-color: rgb(248, 246, 246);
}
.button_justify{
    background-color:rgb(255, 255, 255);
    margin-top:60px;
    font-size: 30px;
    width: 20rem;
    height: 5rem;
    border-radius: 0.5em;
}
video{
    margin-top:70px;
    width: 45%;
}

.h1_justify{
    text-align: center;
}
.padding_justify1{
    margin-top:60px;
}

.btn_justify1{
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

.btn_justify2{
    margin-left: 100px;
    font-size: 30px;
}