{% extends "layout.html" %}

{% block content %}

<div class="col-sm-6 h1_justify mx-auto">
    <div class="card">
        <h4 class="card-header text-white bg-secondary">New blog</h4>
        <div class="card-body bg-light">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type='submit' class="button_justify1">投稿</button>
            </form>
        </div>
    </div>
</div>

<style>
    .h1_justify{
        text-align: center;
    }
    .button_justify1{
        background-color:rgb(66, 112, 248);
        margin-top:10px;
        margin-bottom:10px;
        font-size: 20px;
        width: 8rem;
        height: 3rem;
        border-radius: 0.5em;
    }
</style>
{% endblock %}